<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Formación Profesional</h2>
        <p class="lead">Miguel Ángel García realizó sus estudios de Arquitectura en la Universidad de la Salle Cancún, con más de una década de experiencia en el sector de la construcción y desarrollo de proyectos arquitectónicos.  Ha realizado una gran variedad de proyectos residenciales, comerciales y de esparcimiento tanto de iniciativa pública como privada.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
