<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Meet the Architect</h2>
        <p class="lead">Miguel Ángel García completed his studies in Architecture at the University of La Salle Cancún, with more than a decade of experience in the field of construction and development of architectural projects. He has done a great variety of residential, commercial and recreational projects, for public and private institutions.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
