<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Meet the Architect</h2>
        <p class="lead">Miguel Angel Garcia graduated from the University of La Salle Cancun and has over a decade of experience working in the field of architecture.  He has developed a wide variety of projects ranging from residential to commercial structures for private and public institutions.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
