<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Su Arquitecto en Cancún</h2>
        <p class="lead">Estudios realizados en la Universidad La Salle Cancun, con 10 años de experiencia laborando en el ramo de la arquitectura, donde he desarrollado una gran variedad de proyectos principalmente, proyectos resindenciales, asi como proyectos comerciales, inmersos en la construccion de espacios habitacionales y de igual forma comerciales, el todo es mente... el universo es mental.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
