<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Te Presento el Arquitecto</h2>
        <p class="lead">Miguel Ángel García realizo sus estudios en  Universidad de la Salle Cancún y tiene más de una decada de experiencia laborando en el ramo de la arquitectura.  Ha desarrollado una gran variedad de proyectos residenciales, así como proyectos comerciales y de esparcimiento de iniciativa publica y privada.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
