<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <p class="lead">Miguel Ángel García completed his studies in Architecture at the University of La Salle Cancun. He has over a decade of experience in the field of construction and architectural project development. His experience includes developing a wide variety of projects ranging from residential to commercial structures for private and public institutions.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
