<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Miguel García</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >Acerca de nosotros</a>
    </li>
    <li>
      <a href="#services" onclick = $("#menu-close").click(); >Servicios</a>
    </li>
    <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >Proyectos</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Contacto</a>
    </li>
    <li>
      <a href="en.html" onclick = $("#menu-close").click(); >View in English</a>
    </li>
  </ul>
</nav>
