<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Proyectos</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1874272072794381.1073741852.1431294247092168&type=1&l=4391f182a7">
                <img class="img-portfolio img-responsive" src="img/portfolio-01.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1830723780482544.1073741850.1431294247092168&type=1&l=afc2bdb65b">
                <img class="img-portfolio img-responsive" src="img/portfolio-02.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1831117103776545.1073741851.1431294247092168&type=1&l=246b85f704">
                <img class="img-portfolio img-responsive" src="img/portfolio-03.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1663172420571015.1073741846.1431294247092168&type=1&l=67c46057d0">
                <img class="img-portfolio img-responsive" src="img/portfolio-04.jpg">
              </a>
            </div>
          </div>
	 <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1874272072794381.1073741852.1431294247092168&type=1&l=4391f182a7">
                <img class="img-portfolio img-responsive" src="img/portfolio-05.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1830723780482544.1073741850.1431294247092168&type=1&l=afc2bdb65b">
                <img class="img-portfolio img-responsive" src="img/portfolio-06.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1831117103776545.1073741851.1431294247092168&type=1&l=246b85f704">
                <img class="img-portfolio img-responsive" src="img/portfolio-07.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1663172420571015.1073741846.1431294247092168&type=1&l=67c46057d0">
                <img class="img-portfolio img-responsive" src="img/portfolio-08.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">Ver Más Proyectos</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
