<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1874272072794381.1073741852.1431294247092168&type=1&l=4391f182a7">
                <img class="img-portfolio img-responsive" src="img/portfolio-01.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1830723780482544.1073741850.1431294247092168&type=1&l=afc2bdb65b">
                <img class="img-portfolio img-responsive" src="img/portfolio-02.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1831117103776545.1073741851.1431294247092168&type=1&l=246b85f704">
                <img class="img-portfolio img-responsive" src="img/portfolio-03.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1663172420571015.1073741846.1431294247092168&type=1&l=67c46057d0">
                <img class="img-portfolio img-responsive" src="img/portfolio-04.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1574229106132014.1073741843.1431294247092168&type=1&l=d6d33848ac">
                <img class="img-portfolio img-responsive" src="img/portfolio-05.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1704544903100433.1073741847.1431294247092168&type=1&l=aba991c550">
                <img class="img-portfolio img-responsive" src="img/portfolio-06.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1660062617548662.1073741845.1431294247092168&type=1&l=13a7839a62">
                <img class="img-portfolio img-responsive" src="img/portfolio-08.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1446596472228612.1073741840.1431294247092168&type=1&l=2b9123e677">
                <img class="img-portfolio img-responsive" src="img/portfolio-09.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1431307727090820.1073741833.1431294247092168&type=1&l=a6059b5825">
                <img class="img-portfolio img-responsive" src="img/portfolio-10.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1510585162496409.1073741842.1431294247092168&type=1&l=e9976dbfc5">
                <img class="img-portfolio img-responsive" src="img/portfolio-11.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1431309427090650.1073741836.1431294247092168&type=1&l=9d3a829df3">
                <img class="img-portfolio img-responsive" src="img/portfolio-12.jpg">
              </a>
            </div>
          </div>
	        <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1431305763757683.1073741829.1431294247092168&type=1&l=8e55017f14">
                <img class="img-portfolio img-responsive" src="img/portfolio-13.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.facebook.com/media/set/?set=a.1431305267091066.1073741828.1431294247092168&type=1&l=f07f536508">
                <img class="img-portfolio img-responsive" src="img/portfolio-14.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="https://www.facebook.com/pg/MiguelGarciaAyD/photos/?tab=albums" class="btn btn-dark">See More Projects</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
