<section id="portfolio2" class="portfolio">
  <div class="container">
    <div class="row">
<div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-05.jpg">
              </a>
            </div>
          </div>
        </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-06.jpg">
              </a>
            </div>
          </div>
        </div>
    <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-07.jpg">
              </a>
            </div>
          </div>
        </div>
  <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-08.jpg">
              </a>
            </div>
          </div>
        </div>
<div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-09.jpg">
              </a>
            </div>
          </div>
        </div>
<div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-10.jpg">
              </a>
            </div>
          </div>
        </div>
<div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-11.jpg">
              </a>
            </div>
          </div>
        </div>
<div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-12.jpg">
              </a>
            </div>
          </div>
        </div>
<div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-13.jpg">
              </a>
            </div>
          </div>
        </div>
<div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-14.jpg">
              </a>
            </div>
          </div>
        </div>
<div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-15.jpg">
              </a>
            </div>
          </div>
        </div>
